html{
    height: 100%;
    width:100%;
    background-color:#b1c9e7;
}

*{ margin: 0;
   padding: 0;
}

body{ 
    font: normal 85% Helvetica, sans-serif;
    padding-left: 10px;
    color: #fff;
}

p{ padding: 0 0 10px 0;
   
   font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 { 
    margin: 0 0 10px 0;}

a{ 
    font-weight: bold;
    color:#FFF;
    background: transparent;
    outline: none;
    text-decoration: underline;}

a:hover{ text-decoration: none;}

#chatScreen, #header{ 
    margin-left: auto; 
    margin-right: auto;}

#header{ 
    /*
    width: 75%;
    max-width: 683px;
    min-width:360px;
    height: 50px;
    margin-top: 10px;	
    */
    width: 75%;
    max-width: 683px;
    min-width: 340px;
    height: 74px;
    margin-top: 3px;
    background-color: #6671A5;
    border-style: solid;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: #6671A5;
    padding-left: 10px;
} 

#welcome{ 
    width: 200px;
    float: left;
    text-align: left;
    height: 45px;
    margin: 0 auto;
}	 

#welcome h1 a{
    font: normal 150% Helvetica, sans-serif;
    letter-spacing: -3px;
    color: #FFF;
    text-decoration: none;
    text-shadow: 1px 1px #000;  }

#menu_items{ 
    float: right;
    width: 140px;
}

#groupnamespan{
    width: 100%;
    margin-bottom: 5px;
}

#site_content{ 
    /*
    max-width: 683px;
    min-width:360px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
    width: 75%;
    padding-top: 5px;
    */
    width: 75%;
    max-width: 683px;
    min-width: 340px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #6671A5;
    border-style: solid;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-color: #6671A5;
    padding-left: 10px;
} 

.sidebar_container{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 470px;
    float: left;
    width: 155px;
    padding: 0;
    margin-right: 10px;
    

}

.sidebar{ 
    float: left;
    width: 180px;
    margin-bottom: 10px;
}

.sidebar_item{
    font: normal 70% Helvetica, sans-serif;
    width: 180px;
}

#grouplist{
    width: 198px;
    height: 470px;
    overflow-y: scroll;
}
.userlist_container{
    overflow-y: hidden;
    overflow-x: hidden;
    float: right;
    width: 155px;
    height: 470px;;
    padding: 0;
    padding-left: 5px;
    margin-right: 12px;

}
#userlist{
    width: 198px;
    height: 470px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#usersWrapper{
    padding-bottom: 45px;
}
#content{ 
    overflow: hidden;
    width: 325px;
    height: 470px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 5px;
    margin-left: 5px;
    float:left;
    border-style: solid;
    border-radius: 10px;
    border-color: #283571;
    background-color: #283571;
}

.content_container{ 
    width: 320px;
    padding: 5px;
    margin-right: 10px;
    float: left;
}
#groupWrapper{
    padding-bottom: 45px;
}

.group{
    margin-bottom: 3px;
    padding: 5px 1px 1px 1px;
    background-color: #6394cf;
    border-style: solid;
    border-radius: 10px;
    border-color: #6394cf;
    width: 145px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.group h3{
    cursor: pointer; cursor: hand;
    display: inline-block;
    width: 80%;
    margin-bottom: 5px;
}
.moreGroupInfo{
    padding-top: 5px;
    font-size: 12px;
    width: 10%;
    display: inline-block;
    float: right;
    cursor: pointer; cursor: hand;
}
.message{
    border-radius: 5px;
    margin-bottom: 3px;
    width: 75%;
    background-color: #76a1d5;
}                
.message p{
    margin-left: 5%;
    width: 90%;
    min-height: 20px;
    word-wrap: break-word;

}
.mymessage{
    margin-left: 20%;
    text-align: right;
    background-color: #3c79c3;
}
.timestamp{
    font-size: 10px;
}
#messageSpace{
    overflow-x: hidden;
    height: 92%;
    width: 345px;
    overflow-y: scroll;
}
#inputfield{
    /*
    margin-top: 5px;
    height: 36px;
    width: 296px;
    position: absolute;
    margin-left: 10px;
    */
    margin-top: 5px;
    height: 36px;
    width: 296px;
    position: absolute;
    margin-left: 15px;
}
#inputfield textarea{
    vertical-align: top;
    font: normal 120% Arial, Helvetica, sans-serif;
    padding: 2px;
    width: 240px;
    height: 30px;
    resize: none;
    
}
#message{
    border-style: solid;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
#sendMessage{
    /*
    border-radius: 0;
    float: right;
    vertical-align: top;
    height: 36px;
    width: 50px;
    */
    float: right;
    vertical-align: top;
    height: 30px;
    width: 44px;
    background-color: #6394cf;
    border-style: solid;
    border-radius: 5px;
    border-color: #6394cf;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    cursor: pointer; cursor: hand;
}
#sendMessage h3 {
    padding-top: 5px;
}
.username{
    text-align: right;
    display: inline-block;
    float: right;
    height: 15px;
    margin-right: 15px;
    min-width:82px;
    max-width: 100%;
}
.usergroup{
    float: left;
    width: 100%;
}

.usercontainer{
    margin-bottom: 3px;
    background-color: #6394cf;
    border-style: solid;
    border-radius: 10px;
    border-color: #6394cf;
    width: 145px;
    min-height: 25px;
}
.usercontainer h3{
    width: 80%;
    display: inline-block;
    float: left;
    margin-bottom: 5px;
}
.newGroupUser{
    width: 170px;
    height: 24px;
    margin-bottom: 2px;
    padding: 2px;
    cursor: pointer; cursor: hand;
    background-color: #6394cf;
    border-radius: 7px;
}
.selectedContainer{
    background-color: #366db0;
}
.usercontainer p{
    margin-left: 5px;
}

#topbar{
    max-width:663px;
    min-width:250px;
    margin-right: 15px;
    height: 40px;
    background-color: #283571;
    border-style: solid;
    border-radius: 10px;
    border-color: #283571;
    margin-bottom: 10px;


}
#currentGroupName{
    padding-top: 10px;
    width: 200px;
    display: block;
    text-align: center;
    margin: auto;
}
#createGroup{
    padding: 5px;
    width: 200px;
    height: 300px;
    right: 0;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}
#createGroup p{
    color: black;
    padding: 0;
    margin: 0;
}
#createGroup input{
    width: 95px;
}
#createNewGroup{
    cursor: pointer; cursor: hand;
    background-color: #6394cf;
    display: inline-block;
    margin: 0;
    width: 50px;
    border-style: solid;
    border-radius: 10px;
    border-color: #6394cf;
}
.newGroupUsers{
    width: 100%;
    overflow-y: scroll;
    height: 230px;
}
#users{  
    border-top:1px solid black;
    border-bottom:1px solid black;
    display: none;
}
#addUser{
    cursor: pointer; cursor: hand;
}
.functionwrapper{
    height: 25px;
    margin-bottom: 5px;
}
.index_buttons {
    text-align: center;
    width: 90px;
    margin-bottom: 3px;
    margin-right: 5px;
    padding: 5px 1px 3px 1px;
    background-color: #6394cf;
    cursor: pointer; cursor: hand;
    float: left;
    border-style: solid;
    border-radius: 10px;
    border-color: #6394cf;

}


#index_content, #index_header{ 
    width: 260px;
    height: 400px;
    margin: auto;
    overflow: visible;
    margin-top: 150px;;
}
#index_content input{
    margin-bottom: 3px;
    position: relative;
}
#index_header{ 

    width: 100%;
    margin-top: 5px;
    height: 35px;

} 

.sidebar_buttons {
    
    float:right;
    position: relative;
    display: inline-block;
    height: 41px;
    width: 30px;
    margin-right: 2px;
    margin-top: 7px;
    cursor: pointer;
}

.sidebar_buttons:toggle {
    
    background-color: #366db0;
}

.dropMenu {
    cursor: pointer;
}

.dropdown {
    float:right;
    position: relative;
    display: inline-block;
    margin-right: 0px;
    margin-top: 7px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

.dropdown-content a, .dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content a, .dropdown-content span:hover {background-color: #f1f1f1}
/*
.dropdown:hover .dropdown-content {
    display: block;
}
*/
.navButton{
    float:right;
    position: relative;
    display: inline-block;
    height: 35px;
    width: 30%;
    margin-right: 2px;
    margin-top: 7px;
    cursor: pointer;
}
.userinformation{
  display: none; 
  width: 100%;
  height: 100px;
}
.userinformation p{
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.groupInformation{
  display: none; 
  width: 100%;
  height: 30px;  
}

#addUsersToGroup{
    padding: 5px;
    width: 200px;
    height: 300px;
    right: 0;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#addUsersToGroup p{
    color: black;
}
.addUsersList{
    width: 100%;
    overflow-y: scroll;
    height: 260px;
}
.addUserContainer{
    width: 170px;
    height: 24px;
    margin-bottom: 2px;
    padding: 2px;
    background-color: #6394cf;
    border-radius: 7px;
}
.addThisUserButton{
    cursor: pointer;
    font-size: 18px;
    margin-right: 5px;
    display: block;
    float: right;
}

#removeUsersFromGroup{
    padding: 5px;
    width: 200px;
    height: 300px;
    right: 0;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#removeUsersFromGroup p{
    color: black;
}
.removeUsersList{
    width: 100%;
    overflow-y: scroll;
    height: 260px;
}
.removeUserContainer{
    width: 170px;
    height: 24px;
    margin-bottom: 2px;
    padding: 2px;
    background-color: #6394cf;
    border-radius: 7px;
}
.removeThisUserButton{
    cursor: pointer;
    font-size: 18px;
    margin-right: 5px;
    display: block;
    float: right;
}
#changeGroupInfo{
    padding: 5px;
    width: 200px;
    height: 75px;
    right: 0;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#changeGroupInfo p{
    color: black;
}
#updateGroupName{
    width: 120px;
}
#promoteUsersToAdmin{
    padding: 5px;
    width: 200px;
    height: 300px;
    right: 0;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#promoteUsersToAdmin p{
    color: black;
}
.promoteUsersList{
    width: 100%;
    overflow-y: scroll;
    height: 260px;
}

.promoteThisUserButton{
    font-size: 16px;
    float: right;
    margin-right: 5px;
    padding-top: 3px;
    cursor: pointer; cursor: hand;
}
#myInformation{
    color: black;
    padding: 5px;
    width: 200px;
    height: 300px;
    right: 0;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#myInformation p,input{
    margin-bottom: 10px;
    color: black;
}
#saveGroupInfo{
    cursor: pointer;
    cursor: hand;
    background-color: #6394cf;
    display: inline-block;
    margin: 0;
    width: 50px;
    border-style: solid;
    border-radius: 10px;
    border-color: #6394cf;
}
.loadMoreUserInfo{
    cursor: pointer; cursor: hand;
    float: right;
    margin-right: 5px;
    font-size: 12px;
    padding-top: 5px;
}
.userInfoButton{
    cursor: pointer; cursor: hand;
    display: inline-block;
    width: 20px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
#noMessagesFound{
    text-shadow: 0px 0px 8px rgba(150, 150, 150, 0.42);
    text-align: center;
    margin-top: 50%;
    color: gray;
    font-style: italic;
}
.registrationArrow{
    width: 5px;
    display: none;
}
.registrationError{
    display: none;
    font-size: 12px;
    top: -22px;
    left: 180px;
    position: relative;
    background-color: white;
    color: gray;
    width: 140px;
    padding: 2px;
    height: 15px;
    margin-top: 1px;
    margin-bottom: -20px;
}

.scrollNotifier{
    display: none;
    background-color: #283571;
    position: absolute;
    width: 155px;
    text-align: center;
}
#topNotifier{
    top: 150px;
}
#botNotifier{
    top: 602px;
}
#charactersRemaining{
    font-size: 12px;
    margin-top: 45px;
    margin-right: 20px;
    float: right;
}
#myInformationButtons{
    margin-top: 15px;
}
.myinfobutton{
    cursor: pointer; cursor: hand;
    background-color: #6394cf;
    display: none;
    margin: 0;
    width: 50px;
    border-style: solid;
    border-radius: 10px;
    border-color: #6394cf;
    text-align: center;
    color: white;
}
#myInformationWrapper{
    width: 100%;
    height: 205px;
}
.myinfoselector{
    cursor: pointer; cursor: hand;
    background-color: #6394cf;
    display: inline-block;
    margin: 0;
    width: 90px;
    border-style: solid;
    border-radius: 10px;
    border-color: #6394cf;
    text-align: center;
    color: white;
    margin-top: 6px;
    margin-bottom: 6px;
}
#myInformationPasswordWrapper{
    display: none;
    width: 100%;
    height: 205px;
}
#saveNewPassword{
    width: 100px;
}
@media screen and (max-width: 400px) {
    html{
        background-color:#6671A5;
    }
}
@media screen and (min-width: 925px) {
    .sidebar_buttons {
        visibility: hidden;
        display: none;
    }
}